@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}
.container{
    max-width: 455px;
    background: #003333;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.temparature-icon{
    font-size: 45px;
    color: aliceblue;
}
h1{
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 30px;
}
#celcius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius:8px 0 0 8px;
    padding: 0 10px;
}
.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: aliceblue;
    border-radius: 0 8px 8px 0;
}

/* for chrome, safari, Edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* for Mozila firefox */
input{
    -moz-appearance: textfield;
}

.button{
    margin-top: 25px;
    text-align: center;
}
.button button{
   border: none; 
   outline: none;
   padding: 10px 30px;
   font-size: 20px;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.5s;
}
.button button:hover{
    background: aqua;
    color: aliceblue;
}